body{
    background-color: hsl(0, 0%, 95%);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    max-width: 900px;
    padding: 20px;
}

.attribution {
     font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}